<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style type="text/css">
    li{
        list-style: none;
    }
    #memberpng{
        height: auto;
        width: 75%;
        max-height: 400px;
    }
</style>
<body>
<h1 class="post-title">Membres de la liste </h1>
<ul>
    <li ng-repeat="member in $ctrl.members" class="list-item">
        <img src="../resources/img/members/{{member.img}}" id="memberpng" />
        <div class="form-group">
            &nbsp;
        </div>
        <span class="post-subtitle">    {{member.name}}<strong> alias</strong></span>
        <h3 class="post-title"><strong>{{member.surname}}</strong> <small>({{member.role}})</small></h3>
        <div class="form-group">
            &nbsp;
        </div>
    </li>
</ul>
</body>
</html>