/* Start View frame animation
    (Animation when changing pages)
 */
.view-container {
    position: relative;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
    background: #333;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.view-frame.ng-enter {
    animation: 1s fade-in;
    z-index: 100;
}

.view-frame.ng-leave {
    animation: 1s fade-out;
    z-index: 99;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* End View frame animation
    (Animation when changing pages)
 */

/* Start view animation on a list of items*/
.list-item.ng-enter,
.list-item.ng-leave,
.list-item.ng-move {
    transition: 0.5s linear all;
}

.list-item.ng-enter,
.list-item.ng-move {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.list-item.ng-enter.ng-enter-active,
.list-item.ng-move.ng-move-active {
    height: 120px;
    opacity: 1;
}

.list-item.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.list-item.ng-leave.ng-leave-active {
    height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
}

/* End view animation on a list of items*/