<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div id="loginArea" ng-show="!$ctrl.loginSuccess" style="text-align:center" >
        Connecte toi avec ton compte yncrea pour accéder au plaisir que vont te procurer les hotlines !!</br>
        <button type="button" class="btn btn-default" ng-click="$ctrl.signIn() ">Se connecter</button>
    </div>

    <div id="showHotlines" ng-show="$ctrl.loginSuccess" >
        <button type="button" class="btn btn-default" ng-click="$ctrl.logOut()">Se déconnecter</button>
        <h4>Bonjour {{userName}} ! </h4>
        <h1 class="post-title">Gérer vos hotlines</h1>
        <div class="alert alert-danger " role="alert" ng-if="$ctrl.showAlert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error !</strong> {{$ctrl.alertMessage}}
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" ng-if="$ctrl.showSuccess">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> {{$ctrl.successMessage}}
        </div>
        <div class="container">
            <p ng-if="!isAdmin" ><u>NB :</u> Vous ne pouvez pas créer de hotlines tant que celle en cours n'a pas été complétée </p>
            <p ng-if="$ctrl.autorisedCreation" >Créer une hotline <a href="#!/edit" class="glyphicon glyphicon-plus"></a></p>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <ul>
                            <li ng-repeat="hotline in $ctrl.hotlines | orderBy: 'State' | limitTo : maxQuantity" class="list-item">
                                <div class="post-preview">
                                    <h2 class="post-title">
                                        <u>{{hotline.Address}}</u>
                                        <a ng-if="!isAdmin && hotline.State == 0" href="#!/edit/{{hotline.HotlineID}}" class="glyphicon glyphicon-pencil"></a>
                                        <a ng-if="isAdmin" href="#!/editAdmin/{{hotline.HotlineID}}" class="glyphicon glyphicon-pencil"></a>
                                        <a ng-if="(!isAdmin && hotline.State == 0) || isAdmin" class="glyphicon glyphicon-remove" ng-click="$ctrl.deleteHotline(hotline.HotlineID)"></a>
                                    </h2>
                                    <span class="post-subtitle">{{hotline.Description}}</span>
                                    <span class="post-meta">{{$ctrl.getName(hotline.AuthorMail)}}</span></br>
                                    <span ng-show="hotline.State === 0"><label>State : </label> En attente d'un Papi'sen </span>
                                    <span ng-show="hotline.State === 1"><label>State : </label> Hotline prise en charge par : {{$ctrl.getName(hotline.HotlineResponsibleMail)}} </span>
                                    <span ng-show="hotline.State === 2"><label>State : </label> Hotline complétée par : {{$ctrl.getName(hotline.HotlineResponsibleMail)}} </span>
                                </div>
                                <hr>
                            </li>
                        </ul>
                        <div id="showers" ng-if="$ctrl.hotlines.length > 5">
                            <button type="button" class="btn btn-default" ng-click="$ctrl.showMore()">Voir plus</button>
                            <button type="button" class="btn btn-default" ng-click="$ctrl.showLess()">Voir moins</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>