<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
        <div class="alert alert-danger " role="alert" ng-if="$ctrl.errorOnInputs">
            <strong>Error !</strong> {{$ctrl.alertInputs}}
        </div>
        <form name="hotlineForm" novalidate>
            <div class="row control-group">
                <p> Votre hotline : </p>
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Adresse</label>
                    <input type="text" class="form-control" ng-model="address" ng-minlength="10" ng-maxlength="250" placeholder="Adresse" name="address" required >
                    <p class="help-block text-danger" ng-show="hotlineForm.address.$error.required" >Veuillez entrer votre adresse</p>
                    <p class="help-block text-danger" ng-show="hotlineForm.description.$error.minlength">Adresse trop longue !</p>
                    <p class="help-block text-danger" ng-show="hotlineForm.description.$error.maxlength">Adresse trop courte !</p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Description</label>
                    <textarea rows="5" class="form-control" ng-model="description" ng-maxlength="350" placeholder="Description de la hotline" name="description" required ></textarea>
                    <p class="help-block text-danger" ng-show="hotlineForm.description.$error.required">Veuillez entrer une courte description</p>
                    <p class="help-block text-danger" ng-show="hotlineForm.description.$error.maxlength">Votre description est trop longue !</p>
                </div>
            </div>
            <div class="row control-group" style="z-index: 1; position: relative">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Date and time</label>
                    <input datetime-picker ng-model="hotlineDate" date-format="yyyy-MM-dd HH:mm" class="form-control" placeholder="Date et heure de la hotline" name="date" required />
                    <p class="help-block text-danger" ng-show="hotlineForm.date.$error.required">Veuillez choisir une date et une heure</p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Phone number</label>
                    <input type="tel" ng-model="phoneNumber" name="phone" placeholder="Numéro de téléphone" ng-pattern="phoneRegex" required class="form-control">
                    <p class="help-block text-danger" ng-show="hotlineForm.phone.$error.required">Veuillez entrer votre numéro de téléphone</p>
                    <p class="help-block text-danger" ng-show="hotlineForm.phone.$error.pattern">Format du numéro incorrect</p>
                </div>
            </div>


            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-default" ng-click="$ctrl.sendHotline()">Envoyez !</button>
                </div>
            </div>
        </form>


</body>
</html>