<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="row control-group">
        <p> Hotline créée par : {{$ctrl.getName($ctrl.hotline.AuthorMail)}} </p>
        <p><label>Adresse : </label> {{$ctrl.hotline.Address}}</p>
        <p><label>Description : </label> {{$ctrl.hotline.Description}}</p>
        <p><label>Date : </label> {{$ctrl.hotline.Date}}</p>
        <p><label>Numéro de téléphone de l'auteur de la hotline : </label> {{$ctrl.hotline.PhoneNumber}}</p>
        <p><label>Responsable de la hotline : </label> {{$ctrl.getName($ctrl.hotline.HotlineResponsibleMail)}}</p>
        <p ng-if="$ctrl.hotline.State === 0"><label>State : </label> En attente d'un Papi'sen </p>
        <p ng-if="$ctrl.hotline.State === 1"><label>State : </label> Hotline prise en charge par : {{$ctrl.getName($ctrl.hotline.HotlineResponsibleMail)}} </p>
        <p ng-if="$ctrl.hotline.State === 2"><label>State : </label> Hotline complétée par : {{$ctrl.getName($ctrl.hotline.HotlineResponsibleMail)}} </p>
        <button type="button" class="btn btn-default" ng-click="$ctrl.updateState()" ng-if="$ctrl.hotline.State !== 2">{{$ctrl.changeState}}</button>
    </div>
</body>
</html>